gym[atari]
gym==0.17.2
pandas
numpy==1.17.0
matplotlib
sns
Pillow
scikit-learn
pyarrow
scipy
opencv-contrib-python
tensorflow-gpu==1.15.3
mpi4py==3.0.3
seaborn
networkx
cloudpickle==1.2.0
stable-baselines==2.10.1
stable-baselines[mpi]
gym-retro
procgen
Box2D==2.3.10
tensorboard==1.15.0