gym[atari]
gym==0.17.2
pandas
numpy==1.17.0
matplotlib
sns
Pillow
scikit-learn
pyarrow
scipy
opencv-contrib-python
seaborn
networkx
cloudpickle==1.3.0
stable-baselines[mpi]
gym-retro
procgen
Box2D==2.3.10
tensorboard==1.15.0
nvidia-ml-py3==7.352.0
gtimer
conda==4.3.16